*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    background:
    radial-gradient(
        circle at top,
        #16345c,
        #020812
    );

    color:white;

    font-family:
    "Microsoft YaHei",
    Arial,
    sans-serif;

}



.box{

    width:92%;

    max-width:520px;

    margin:50px auto;

    text-align:center;

}



h1{

    font-size:36px;

    margin-bottom:40px;

    letter-spacing:2px;

}



.upload{

    display:inline-block;

    background:#296cff;

    padding:15px 30px;

    border-radius:15px;

    cursor:pointer;

    font-size:18px;

    box-shadow:
    0 0 20px
    rgba(41,108,255,.5);

}



.upload input{

    display:none;

}



#count{

    margin:25px 0;

    font-size:20px;

    color:#ddd;

}



#preview{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

}



#preview img{

    object-fit:cover;

}



#progressBox{

    width:100%;

    height:18px;

    margin:25px auto;

    background:#222;

    border-radius:20px;

    overflow:hidden;

}



#progressBar{

    width:0%;

    height:100%;

    background:

    linear-gradient(
        90deg,
        #00e5ff,
        #2388ff
    );

    transition:.3s;

}



button{

    width:100%;

    height:65px;

    margin-top:20px;

    border:none;

    border-radius:18px;

    background:

    linear-gradient(
        135deg,
        #2388ff,
        #0055dd
    );

    color:white;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

}



button:active{

    transform:scale(.97);

}



#info{

    margin-top:25px;

    color:#ccc;

    font-size:17px;

}



#result img{

    width:95%;

    margin-top:30px;

    border-radius:18px;

    box-shadow:

    0 0 30px
    rgba(0,0,0,.6);

}



#result a{

    display:block;

    margin:25px auto;

    padding:15px;

    width:90%;

    background:#16a34a;

    color:white;

    text-decoration:none;

    border-radius:15px;

    font-size:18px;

}



@media(max-width:600px){

    h1{

        font-size:30px;

    }


    button{

        height:60px;

    }

}
